body {
    padding-top: 60px;
    font-family: "Noto Sans JP", sans-serif;
    color: #05223c;
    font-size: 14px;
    /* background-color: #ebecf0; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.top {
    text-align: center;
}

/* PCヘッダー */
.pc_header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #afddde;
    position: fixed;
    top: 0;
    z-index: 500;
    /* border-bottom: solid 2px #2a3d50; */
}

.pc_header .logo {
    line-height: 0;
}

.pc_header .logo img {
    height: 30px;
}

.pc_header ul {
    display: flex;
}

.pc_header ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0.2em 0.5em;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    .pc_header {
        display: none;
    }
}

/* スマホヘッダー */
.sp_header {
    display: none;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    align-items: center;
    justify-content: flex-end;
    /* border-bottom: solid 2px #2a3d50; */
    background: #eef5f7;
    position: fixed;
    top: 0;
    z-index: 500;
}
.sp_header .logo {
    line-height: 0;
    margin-right: auto;
    font-size: 20px;
    font-weight: 700;
}

.sp_header .logo img {
    height: 30px;
}
@media screen and (max-width: 480px) {
    .sp_header {
        display: flex;
    }
}

/* 文字小さくするにはどうしたら良いの？ */
.btn_logout span {
    font-size: 6px;
}

/* ハンバーガーボタン */
.drawr_btn {
    font-size: 10px;
    width: 4em;
    height: 4em;
    background: #546678;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    margin-left: 10px;
}

.drawr_btn span {
    display: block;
    width: 50%;
    height: 0.3em;
    background: #fff;
    border-radius: 10em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}
.drawr_btn span:nth-child(1) {
    transform: translateY(-0.7em);
}
.drawr_btn span:nth-child(3) {
    transform: translateY(0.7em);
}

.drawr_btn.active span:nth-child(1) {
    transform: rotate(225deg);
}
.drawr_btn.active span:nth-child(2) {
    opacity: 0;
}
.drawr_btn.active span:nth-child(3) {
    transform: rotate(-225deg);
}

/* ハンバーガー中身 */
.drawr_content {
    width: 100vw;
    height: calc(100vh - 50px);
    background: #eee;
    position: fixed;
    top: 50px;
    left: 100vw;
    z-index: 9;
    opacity: 0;
    transition: 0.3s;
}
.drawr_content.active {
    left: 0;
    opacity: 1;
}
.drawr_content i {
    margin-right: 10px;
}
.drawr_content a {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 18px;
    color: #2a3d50;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

.fa-home:before,
.fa-clipboard:before,
.fa-calendar-alt:before,
.fa-credit-card:before,
.fa-user-circle:before,
.fa-sign-out-alt:before {
    margin-left: 10px;
}
/* お問い合わせボタン */
.animation {
    width: 250px;
    height: 50px;
    text-align: center;
    border: 2px solid #c3c7cc;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.animation a {
    font-family: arial;
    font-size: 12px;
    color: #05223c;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.1s ease;
    z-index: 2;
    position: relative;
}
.effect {
    widows: 400px;
    height: 50px;
    top: -2px;
    left: -140px;
    background: #bbbbbb;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;
}
.animation:hover .effect {
    left: 0;
}
.animation:hover a {
    color: #c3c7cc;
}

/* メイン（pay） */
.div_pay_prepaid,
.div_pay_prepaid_sent {
    color: #6fbabc;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.div_pay_prepaid_sent_txt,
.div_pay_prepaid_txt {
    margin-bottom: 20px;
}

.div_pay_prepaid_sent_msg {
    margin-top: 20px;
    margin-bottom: 20px;
}
.div_pay_prepaid_sent_ptp img {
    border-radius: 10px;
}

.div_pay_detail {
    border: solid 3px #afddde;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* フッター */
.contact {
    background-color: #f9fafc;
}

.contact_txt {
    padding-top: 30px;
}

.contact_salon_name {
    font-size: 22px;
    font-weight: 600;
}
.sns_icon img {
    padding: 10px;
}
/* フッターアイコン */
.sns_icon img {
    padding: 10px;
}

.footer_name {
    font-weight: 600;
    font-size: 18px;
}

footer i {
    margin: 0 2px;
}

.fa-cut:before,
.fa-instagram:before,
.fa-blogger:before,
.fa-youtube:before {
    font-size: 20px;
    margin: 0 3px;
    color: #546678;
}

.footer_salon_name {
    margin-top: 10px;
}
