body {
    padding-top: 60px;
    font-family: "Noto Sans JP", sans-serif;
    color: #2a3d50;
    font-size: 14px;
    /* background-color: #ebecf0; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.top {
    text-align: center;
}

.logo_name {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: #2a3d50;
}

/* PCヘッダー */
.pc_header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #afddde;
    position: fixed;
    top: 0;
    z-index: 500;
    /* border-bottom: solid 2px #2a3d50; */
}

.pc_header .logo {
    line-height: 0;
}

.pc_header .logo img {
    height: 30px;
}

.pc_header ul {
    display: flex;
}

.pc_header ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0.2em 0.5em;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    .pc_header {
        display: none;
    }
}

/* スマホヘッダー */
.sp_header {
    display: none;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    align-items: center;
    justify-content: flex-end;
    /* border-bottom: solid 2px #2a3d50; */
    background: #eef5f7;
    position: fixed;
    top: 0;
    z-index: 500;
}
.sp_header .logo {
    line-height: 0;
    margin-right: auto;
    font-size: 20px;
    font-weight: 700;
}

.sp_header .logo img {
    height: 30px;
}
@media screen and (max-width: 480px) {
    .sp_header {
        display: flex;
    }
}

/* 文字小さくするにはどうしたら良いの？ */
.btn_logout span {
    font-size: 6px;
}

/* ハンバーガーボタン */
.drawr_btn {
    font-size: 10px;
    width: 4em;
    height: 4em;
    background: #546678;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    margin-left: 10px;
}

.drawr_btn span {
    display: block;
    width: 50%;
    height: 0.3em;
    background: #fff;
    border-radius: 10em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}
.drawr_btn span:nth-child(1) {
    transform: translateY(-0.7em);
}
.drawr_btn span:nth-child(3) {
    transform: translateY(0.7em);
}

.drawr_btn.active span:nth-child(1) {
    transform: rotate(225deg);
}
.drawr_btn.active span:nth-child(2) {
    opacity: 0;
}
.drawr_btn.active span:nth-child(3) {
    transform: rotate(-225deg);
}

/* ハンバーガー中身 */
.drawr_content {
    width: 100vw;
    height: calc(100vh - 50px);
    background: #eee;
    position: fixed;
    top: 50px;
    left: 100vw;
    z-index: 9;
    opacity: 0;
    transition: 0.3s;
}
.drawr_content.active {
    left: 0;
    opacity: 1;
}
.drawr_content i {
    margin-right: 10px;
}
.drawr_content a {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 18px;
    color: #2a3d50;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

.fa-home:before,
.fa-clipboard:before,
.fa-calendar-alt:before,
.fa-credit-card:before,
.fa-user-circle:before,
.fa-sign-out-alt:before {
    margin-left: 10px;
}

.top_user_name {
    text-align: left;
    margin-left: 5px;
}

/* ↑ここまでがヘッダー↑*/

.karte_list {
    font-size: 1.2em;
    font-weight: 600;
    border: 1px solid #dde2e5;
    padding: 10px;
}

.karte_list_flame {
    /* border: 1px solid #dde2e5; */
    border-radius: 10px;
    display: flex;
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: bottom;
    background: #eef5f7;
    box-shadow: 5px 5px 10px #c8c9cc, -5px -5px 10px #ffffff;
}

.karte_list_flame img {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    width: 150px;
}

/* .kalte_txt1{
    line-height: 0;
} */

.karte_counsel_karte_txt {
    height: 88px;
}

.karte_txt {
    text-align: left;
    margin-left: 10px;
    height: 42px;
}

.karte_txt p {
    font-weight: 700;
}

.karte_txt span {
    color: #c3c7cc;
}

.karte_txt1 {
    margin-top: 0px;
}

/* 詳細をみるボタン */
.btn {
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #2a3d50;
    background: #eef5f7;
    font-weight: bold;
    position: relative;
    height: 3em;
    line-height: 3em;
    width: 150px;
    transition: 0.5s;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
}
.btn::after {
    transition: 0.5s;
    content: "";
    width: 0.6em;
    height: 0.6em;
    border-top: 2px solid #2a3d50;
    border-right: 2px solid #2a3d50;
    position: absolute;
    top: -2px;
    bottom: 0;
    right: 20px;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn:hover::after {
    right: 12px;
}
/* .btn:hover {
    background: #edba30;
} */

/* お問い合わせボタン */
.animation {
    width: 250px;
    height: 50px;
    text-align: center;
    border: 2px solid #c3c7cc;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.animation a {
    font-family: arial;
    font-size: 12px;
    color: #2a3d50;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.1s ease;
    z-index: 2;
    position: relative;
}
.effect {
    widows: 400px;
    height: 50px;
    top: -2px;
    left: -140px;
    background: #bbbbbb;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;
}
.animation:hover .effect {
    left: 0;
}
.animation:hover a {
    color: #c3c7cc;
}

.contact {
    background-color: #f9fafc;
}

.contact_txt {
    padding-top: 30px;
}

.contact_salon_name {
    font-size: 22px;
    font-weight: 600;
}
.sns_icon img {
    padding: 10px;
}

/* フッターアイコン */
.sns_icon img {
    padding: 10px;
}

.footer_name {
    font-weight: 600;
    font-size: 18px;
}

footer i {
    margin: 0 2px;
}

.fa-cut:before,
.fa-instagram:before,
.fa-blogger:before,
.fa-youtube:before {
    font-size: 20px;
    margin: 0 3px;
    color: #546678;
}

.footer_salon_name {
    margin-top: 10px;
}

